<!-- NAVBAR -->
<div class="navbar navbar-topbar navbar-expand-xl navbar-light bg-light">
    <div class="container">

        <!-- Promo -->
        <div class="mr-xl-8">
            <i class="fe fe-grid mr-2"></i> <span class="heading-xxxs">Create and Scan QR Codes For Free</span>
        </div>
    </div>
</div>


<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand" [routerLink]="null">
            Somo.
        </a>

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <!-- Nav -->
            <ul class="navbar-nav mx-auto">
                <li class="nav-item" routerLinkActive="active" *ngFor="let navItem of navItems;">
                    <!-- Toggle -->
                    <a class="nav-link" [routerLink]="navItem.get('href')">
                        {{ navItem.get('textContent') }}
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>