/* You can add global styles to this file, and also import other style files */

.full-modal {
    min-width: 100%;
}

.back-button {
    right: auto;
    left: 1.5rem;
}

.break-long-content {
    overflow-wrap: break-word;
            word-wrap: break-word;
            -ms-word-break: break-all;
            word-break: break-all;
            word-break: break-word;
            -ms-hyphens: auto;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;
}