<!-- Buttons -->
<div class="modal-body">
    <section class="py-7">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3" *ngFor="let category of categories;">

                    <!-- Item -->
                    <div class="d-flex mb-6 mb-lg-0">

                        <!-- Icon -->
                        <i class="fe fe-{{category.get('featherIcon')}} font-size-lg text-primary"></i>

                        <!-- Body -->
                        <div class="ml-6">

                            <!-- Heading -->
                            <h6 class="heading-xxs mb-1">
                               <a class="stretched-link" [routerLink]="category.get('href')">
                                   {{ category.get('textContent') }}
                                </a> 
                            </h6>

                            <!-- Text -->
                            <p class="mb-0 font-size-sm text-muted">
                                {{ category.get('helpText') }}
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>