<div class="modal fixed-right fade show" id="modalShoppingCart" tabindex="-1" role="dialog"
    style="padding-right: 15px; display: block;" aria-modal="true">
    <div class="modal-dialog modal-dialog-vertical full-modal" role="document">

        <!-- Full cart (add `.d-none` to disable it) -->
        <div class="modal-content">
            <!-- Close -->
            <button type="button" class="close back-button" aria-label="Click to go back">
                <a routerLink="../">
                    <i class="fe fe-arrow-left" aria-hidden="true"></i></a>
            </button>
            <!-- Close -->
            <button type="button" class="close" aria-label="Close">
                <a routerLink="/"> <i class="fe fe-x" aria-hidden="true"></i></a>
            </button>

            <!-- Header-->
            <div class="modal-header line-height-fixed font-size-lg">
                <strong class="mx-auto">Create QR Code</strong>
            </div>

            <div class="modal-body">
                <ng-container *ngIf="showQrCode; else showCreateSmsForm;">
                    <section class="pt-7 pb-12">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-12 text-center">
                                    <p class="mb-10">Link anyone to get details for WiFi by sending them this QR code:
                                    </p>
                                </div>
                            </div>

                            <div class="row justify-content-center">
                                <div class="text-center">
                                    <ngx-qrcode *ngIf="valueForQrCode" [elementType]="ELEMENT_TYPE"
                                        [errorCorrectionLevel]="CORRECTION_LEVEL" [value]="valueForQrCode"
                                        cssClass="coolQRCode">
                                    </ngx-qrcode>
                                </div>
                            </div>

                            <div class="row justify-content-center mt-8">
                                <div class="col-12 col-lg-auto">

                                    <!-- Submit -->
                                    <button class="btn btn-block btn-dark mb-2" (click)="downloadQRCode()"
                                        title="Download QR Code">
                                        <i class="fe fe-save mr-2"></i> Download QR Code
                                    </button>

                                </div>
                                <div class="col-12 col-lg-auto">

                                    <!-- Wishlist -->
                                    <button class="btn btn-outline-dark btn-block mb-2" title="Edit Details on QR Code"
                                        aria-label="Edit Details on QR Code" (click)="showHiddenCreateSmsQrCodeForm()">
                                        <i class="fe fe-edit-3 mr-2"></i>Edit QR Code
                                    </button>

                                </div>
                            </div>

                        </div>
                    </section>
                </ng-container>

                <ng-template #showCreateSmsForm>
                    <section class="pt-7 pb-12">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-12 text-center">
                                    <p class="mb-1 font-size-xs">
                                        <a [routerLink]="null" class="text-reset">
                                            <i class="fe fe-message-square mr-2"></i>SMS
                                        </a>
                                    </p>
                                    <p>
                                        <span class="text-gray-500">
                                            <!-- SMS marketing made simple. Allow your customers to send a text
                            message to a designated number easily. -->
                                            Encode a <span title="Short Messaging Service">SMS</span> message and phone
                                            number in a
                                            QR-Code.
                                        </span>
                                        <!-- <a class="text-reset text-decoration-underline" [routerLink]="null"> Learn
                            more</a> -->
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <!-- Divider -->
                                    <hr class="my-7">

                                    <!-- Form -->
                                    <form [formGroup]="smsDetailsFormGroup" (ngSubmit)="submitForm()">
                                        <!-- Billing details -->
                                        <div class="row">
                                            <div class="col-12">
                                                <!-- Phone -->
                                                <div class="form-group">
                                                    <label class="sr-only"
                                                        for="smsDetailsFormGroup__phoneNumber">Phone:</label>
                                                    <input class="form-control form-control-sm"
                                                        id="smsDetailsFormGroup__phoneNumber" type="tel"
                                                        placeholder="Phone" formControlName="phoneNumber"
                                                        [class.is-invalid]="smsDetailsFormGroup?.get('phoneNumber')?.invalid && (isSubmitted || smsDetailsFormGroup?.get('phoneNumber')?.touched)">
                                                    <div class="invalid-feedback"
                                                        *ngIf="smsDetailsFormGroup?.get('phoneNumber')?.invalid && (isSubmitted || smsDetailsFormGroup?.get('phoneNumber')?.touched)">
                                                        <ng-container
                                                            *ngIf="smsDetailsFormGroup?.get('phoneNumber')?.hasError('pattern'); else showOtherPhoneErrors;">
                                                            Are you sure you entered the phone properly?
                                                        </ng-container>
                                                        <ng-template #showOtherPhoneErrors>
                                                            Phone number should not exceed 20 chars long.
                                                        </ng-template>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-12">
                                                <!-- Message -->
                                                <div class="form-group">
                                                    <label class="sr-only"
                                                        for="smsDetailsFormGroup__message">Message:</label>
                                                    <textarea class="form-control form-control-sm"
                                                        id="smsDetailsFormGroup__message" placeholder="Text"
                                                        formControlName="message"
                                                        appDynamicallySetHeightUsingScrollHeight
                                                        [class.is-invalid]="smsDetailsFormGroup?.get('message')?.invalid && (isSubmitted || smsDetailsFormGroup?.get('message')?.touched)"></textarea>
                                                    <div class="invalid-feedback"
                                                        *ngIf="this.smsDetailsFormGroup?.get('message')?.invalid && (isSubmitted || this.smsDetailsFormGroup?.get('message')?.touched)">
                                                        <ng-container
                                                            *ngIf="smsDetailsFormGroup?.get('message')?.hasError('maxlength')">
                                                            Message should not exceed 120 chars long.
                                                        </ng-container>
                                                    </div>
                                                    <small class="form-text text-muted">
                                                        <strong><i class="fe fe-info mr-2"></i>Tip!</strong> Remember
                                                        and
                                                        include your
                                                        <a href="http://www.countrycallingcodes.com/" class="external"
                                                            target="_blank" rel="nofollow">country code</a> for
                                                        international callers.
                                                    </small>
                                                </div>

                                            </div>
                                        </div>

                                        <!-- Disclaimer -->
                                        <!-- <p class="mb-7 font-size-xs text-gray-500 mt-8">
                            Your personal data will be used to process your order, support
                            your experience throughout this website, and for other purposes
                            described in our privacy policy.
                        </p> -->

                                        <!-- Button -->
                                        <button class="btn btn-block btn-dark" type="submit">
                                            Create QR Code
                                        </button>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </section>
                </ng-template>
            </div>
        </div>
    </div>
</div>