<div class="modal fixed-right fade show" id="modalShoppingCart" tabindex="-1" role="dialog"
    style="padding-right: 15px; display: block;" aria-modal="true">
    <div class="modal-dialog modal-dialog-vertical full-modal" role="document">

        <!-- Full cart (add `.d-none` to disable it) -->
        <div class="modal-content">

            <button type="button" class="close back-button" aria-label="Click to go back" (click)="resetScanner()">
                <a [routerLink]="null">
                    <i class="fe fe-arrow-left" aria-hidden="true"></i></a>

            </button>

            <!-- Share -->
            <button type="button" class="close" aria-label="Share the value of QR code" data-toggle="modal"
                data-target="#modalSocialShareCta">
                <a [routerLink]="null"><i class="fe fe-share-2" aria-hidden="true"></i></a>
            </button>

            <!-- Header-->
            <div class="modal-header line-height-fixed font-size-lg">
                <strong class="mx-auto">URL</strong>
            </div>
            <div class="text-center mt-8">
                <div class="avatar avatar-xxl mb-6 mb-md-0"><span class="avatar-title rounded-circle"><i
                            class="fe fe-link-2"></i></span></div>
                <p class="mb-0 font-size-sm font-weight-bold mt-4">You're about to open a link:</p>
                <p class="mb-2 font-size-sm font-weight-bold mt-0 pl-3 pr-3"
                    [innerHTML]="urlScanResult.href|wrapUrlInAnchorTag:true"></p>
                <p class="text-gray-500 pl-3 pr-3 mt-4">You're leaving Mdifu and visiting
                    <span *ngIf="urlScanResult?.domain; else unableToExtractURLDomain;">
                        {{ urlScanResult.domain }}
                    </span>
                    <ng-template #unableToExtractURLDomain>
                        an external website
                    </ng-template>
                </p>
            </div>

            <div class="modal-body">
                <a class="btn btn-block btn-dark" [routerLink]="null" (click)="copyToClipboard()">Copy<i
                        class="fe fe-copy ml-2"></i></a>
                <a class="btn btn-block btn-danger" [href]="urlScanResult.href" rel="noopener noreferrer"
                    target="_blank">Open</a>
            </div>
            <!-- Footer -->
            <div class="modal-footer line-height-fixed font-size-xs bg-light mt-auto text-muted">
                <strong>This content comes from a third party. If you would like to view the content, please tap the
                    <em>Open</em> button above, or
                    copy the content/link above and paste it into your browser. We recommend you always exercise
                    caution opening links you do not recognize.</strong>
            </div>

            <div class="alert alert-danger alert-dismissible fade show fixed-bottom" role="alert"
                *ngIf="showCopiedToClipboardFeedback">

                <!-- Text -->
                <strong>Link copied to clipboard!</strong>

                <!-- Button -->
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>

            </div>
        </div>
    </div>
</div>


<app-social-share-cta [title]="'Look what I just scanned ' + (urlScanResult.href || '')" [url]="urlScanResult.href"
    [description]="'Look what I just scanned.'"></app-social-share-cta>